html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 12px;
}
body {
  font-family: 'Tinos', serif;
  position: relative;
  display: flex;
  flex-direction: column;
  color: #333;
}
h1 {
  text-align: center;
  margin: 0;
  padding: 20px;
  font-size: 24px;
  font-weight: normal;
}
section {
  flex: 1;
  position: relative;
}

/**
 * Map and Marker styles
 */
#map {
  /* Fit map to its parent container */
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
}

/* Marker tool-tip style */
#taMapTooltip span {
  display: block;
  position: relative;
  background: #333;
  border-radius: 4px;
  padding: 4px 8px;
  color: white;
  top: -25px;
  left: 22px;
  max-width: calc(100% - 32px);
}
#taMapTooltip span:before {
  display: block;
  position: absolute;
  content: ' ';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 10px 8px 0;
  border-color: transparent #333 transparent transparent;
  left: -9px;
}
#taMapTooltip.left span {
  left: -8px;
}
#taMapTooltip.left span:before {
  border-width: 8px 0 8px 10px;
  border-color: transparent transparent transparent #333;
  right: -9px;
  left: initial;
}

/** 
 * Form styles
 */
form {
  width: 240px;
  top: 20px;
  left: 20px;
  position: absolute;
}
input, button {
  font-family: 'Tinos', serif;
}

.field {
  margin: 1ex 0;
}
.field input, .field select {
  box-sizing: border-box;
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  color: #333;
  background: #fff;
}
.field .search {
  background: #fff url('search.png') 12px center no-repeat;
  padding-left: 36px;
}
.buttons {
  display: flex;
}
.buttons button {
  flex: 1;
  background: #F2F2F2;
  border: none;
  padding: 10px;
  text-align: center;
}
.buttons button {
  font-size: 11px;
  color: #999;
  outline: none;
}
.buttons button:not(:first-child) {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.buttons button:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.buttons button.active {
  background: #E38E51;
  color: white;
}
.submit-row button {
  box-sizing: border-box;
  width: 100%;
  padding: 8px;
  background: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
}


